.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: quiz; }
.item7 { grid-area: game; }


.grid-container {

grid-template-areas: 
'header header header header header'
'main quiz quiz right right'
'main game game right right'
'main footer footer footer footer';

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: auto auto auto;
gap: 30px;
padding: 10px;

}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: 100%;
   text-align: center;

  }


  :right {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
  }
