
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f7f7f7;
            display: grid;
            align-items: center;
            justify-content: center;
        }
        .banan {
            width: 150px;
            cursor: pointer;
            margin: 20px auto;
            display:grid;
            justify-content: center;
            align-items: center;
        }
        .score {
            font-size: 24px;
            margin-top: 20px;
            display: grid;
            justify-content: center;
            align-items: center;
        }
      
        
        h2 {
            display: grid;
            align-items: center;
            justify-content: center;
            
        }

    